html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    font-family: 'Space Mono', monospace;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}

.eat-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.eat {
    background: #03a9f4;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0.5em;
    min-height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1.eat-title{
    color: #89b4ff;
    text-align: center;
    font-size: 60px;
    font-family: 'Space Mono', monospace;
}

.eat:hover h2 {
    transform: rotate(0deg);
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 5px #01579b;
}

#bakso {
    background-color: #4dd0e1;
}

#coto {
    background-color: #800000;
}
